<%# <div class="col-md-3"> %>
          <div class="card" style="width: 250px, height: 400px">
            <div class="booking">
              <div class="booking-info">
                    <h5 class="card-title"><%= booking.space.title %></h5>
                      <div class="container mt-4">
                        <%= cl_image_tag(booking.space.photos.first.key, width: 350, height: 200, crop: :fill, :align=> "middle") %>
                      </div>
                    <div class="container mt-2">
                      <h4 class="card-title"><%= booking.space.title %></h4>
                      <h5 class="card-text">User: <%= booking.user.email %></h5>
                      <p class="card-text">Booked date: </p>
                      <h5>Request from: <%= booking.from.to_s[0...-13] %> until:   <%= booking.to.to_s[0...-13] %> </h5>
                    </div>
                  </div>

              <% if booking.pending? %>
                    <div class="d-flex">
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                        <%= f.submit 'Accept', class: 'btn btn-info' %>
                      <% end %>

                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                        <%= f.submit 'Reject', class: 'btn btn-light' %>
                      <% end %>
                    </div>
              <% else %>
                <!-- Display Status-->
                <p class='booking-tag'><%= booking.status %></p>
              <% end %>
            </div>
          </div>
