<h1>Your Bookings</h1>
<%# <%= link_to 'Make a new booking', new_booking_path %>
<div class="row row-cols-1 row-cols-md-4">
  <% @bookings.each do |booking| %>
      <div class="col-md-3">
        <div class="card h-100">
          <%= cl_image_tag(booking.space.image, width: 300, height: 200, crop: :fill) %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.space.title %></h5>
            <p class="card-text">Booked date: <%= booking.from %> - <%= booking.to %></p>
            <p class="card-text">Impact HUB Tokyo is based in Meguro, Tokyo, Japan and it offers a place to collaborate, have fun, learn and connect.</p>
            <p class="card-text">Cost: <%= booking.space.fee %> JPY</p>
            <%= link_to 'Cancel', booking_path(booking), class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Home', spaces_path, class: "btn btn-secondary" %>
            <%# <a href="#" class="btn btn-primary">Cancel</a> %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<h1>Requests to book your spaces:</h1>
<% @bookings.each do |booking| %>
  <div class="booking">
              <div class="booking-left">
                <img src="https://kitt.lewagon.com/placeholder/users/dmbf29" class="avatar-bordered">
                <div class="booking-info">
                  <div class="booking-info-title">
                    Douglas Berkley
                  </div>
                  <div class="booking-info-details">
                    Dec 12, 8:00am - 11:00am
                  </div>
                </div>
              </div>
              <%# <div class="booking-actions">
                <button class="btn btn-info">Accept</button>
                <button class="btn btn-light">Reject</button>
              </div>
            </div> %>

            <div class="d-flex">
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>

              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-light' %>
              <% end %>
            </div>
<% end %>
