<h1>Bookings</h1>

<ul class="tabs">
  <li data-tab-target="#my-bookings" class="active tab">My Bookings</li>
  <li data-tab-target="#my-spaces" class="tab">My Spaces</li>
</ul>

<div class="tabcontent">
  <div id="my-bookings" data-tab-content class="active">

    <h1>My Bookings</h1>
    <%# <%= link_to 'Make a new booking', new_booking_path %>
<div class="row row-cols-1 row-cols-md-4">
  <% @bookings.each do |booking| %>
      <div class="col-md-3">
        <div class="card" style="width: 250px, height: 400px">
          <img style='height: 220px; width: 100%; object-fit: cover' src="<%= booking.space.image %>" alt="space.location">
          <div class="card-body">
            <h5 class="card-title"><%= booking.space.title %></h5>
            <p class="card-text">Booked date: <%= booking.from %> - <%= booking.to %></p>
            <p class="card-text">Impact HUB Tokyo is based in Meguro, Tokyo, Japan and it offers a place to collaborate, have fun, learn and connect.</p>
            <p class="card-text">Cost: <%= booking.space.fee %> JPY</p>
            <%= link_to 'Cancel', booking_path(booking), class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Home', spaces_path, class: "btn btn-secondary" %>
            <%= booking.status %>
            <%# <a href="#" class="btn btn-primary">Cancel</a> %>
          </div>
        </div>
      </div>
  <% end %>
</div>
  </div>
</div>

<div class="tabcontent">
  <div id="my-spaces" data-tab-content>

        <h1>Requests to book your spaces:</h1>
    <div class="row row-cols-1 row-cols-md-4">
    <% @bookings.each do |booking| %>
      <div class="col-md-3">
        <div class="card" style="width: 250px, height: 400px">
          <div class="booking">
              <div class="booking-left">
                <%# <img src="https://kitt.lewagon.com/placeholder/users/dmbf29" class="avatar-bordered"> %>
                <div class="booking-info">
                  <h5 class="card-title"><%= booking.space.title %></h5>
                  <p class="card-text">User: <%= booking.user.email %></p>
                  <p class="card-text">Booked date: </p>
                  <p><%= booking.from %> - </p>
                  <p><%= booking.to %> </p>
                </div>
              </div>
            <% if booking.pending? %>
                  <div class="d-flex">
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>

                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-light' %>
                    <% end %>
                  </div>
            <% else %>
              <!-- Display Status-->
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>
  </div>
</div>
