<h1>Your Bookings</h1>
<%# <%= link_to 'Make a new booking', new_booking_path %>
<% @bookings.each do |booking| %>
  <%# <h5><%= link_to booking.title, task_path(task)</h5> %>
  <h3><%= booking.space.title %></h3>
  <p><%= booking.from %> - <%= booking.to %></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
<% end  %>
