<!DOCTYPE html>
<html>
  <head>
    <title>Spaced</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
  </head>

  <body>
    <%=render 'shared/navbar'  %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-danger" %>
    <% end %>

    <%= yield %>

  </body>
  <%=render 'shared/footer'  %>
</html>
